# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
.DS_Store

ghcnm.v3*
country-codes

ghcnm.v4*
ghcnm-countries.txt

ghcnd_all
ghcnd_all*

ghcnd-countries.txt
ghcnd-stations.txt
ghcnd-version.txt
ghcnd.tavg*

landmask.dta